<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include header.html %}
    <div id="journal" class="wrapper">
        {% include journalmd.html %}
        {{content}}
        <div class="giscuss">
            <script src="https://giscus.app/client.js"
            data-repo="silvernberry/Demo-journal"
            data-repo-id="R_kgDOKlWT-g"
            data-category="General"
            data-category-id="DIC_kwDOKlWT-s4Cado9"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="1"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>       
        </div>
    </div>
    <div class="totop">
        <a href="#">
          <i class='bx backtop bxs-to-top'></i>
       </a>
    </div>
    {%include mathjax.html%}
    {% include footer.html %}
</body>
</html>